# Here’s an example

The chart is rendered inside our MDsveX document.

```svelte example
<script>
    import NavigationExample from '../examples/NavigationExample.svelte';
</script>

<NavigationExample />
```